<div class="conteiner text-color">
    <h1 class="text-center">Employment history</h1>
    <ul class="row">
        <li class="col-sm-4 col-md-offset-2">
            <strong>Manager</strong>
            <div>
                <h5>Coffee-Bar BETYS  2012 - Present</h5>
                <p>
                    staff recruiting, hiring, training, and evaluating 
                    supplies and inventories 
                    customer satisfaction  
                    payment 
                </p>
            </div>
        </li>
        <li class="col-sm-4 col-md-offset-2">
            <strong>Manager</strong>
            <div>
                <h5>Retail - Via Decor 2009 – 2012</h5>
                <p>
                    opening, closing the store
                    dealing with all payment methods(cash, credit/debit card)
                    recruiting, hiring, training, and evaluating store employees, creating work schedule
                    providing exceptional customer service
                    maintaining stock, supplies and inventories
                </p>
            </div>
        </li>
    </ul>
</div>