<div class="container">
  <div class="row text-color">
    <h1 class="text-center">Profile</h1>
    <img class="img-circle col-md-2 col-md-offset-3" src="img/profile.jpg" alt="My_foto">
    <p class="col-md-4 col-md-offset-1">
      I graduated from Telerik academy with qualifications for web front-end developer. I went through courses in C #, JavaScript,
      HTML, CSS, High Quality Code, Database, Web services, Structure of data and algorithms, Photoshop, Slice and Dice,
      ASP.NET, MVC, Android, iOS, Windows Mobile. My experience in the sphere of programming is what I've done in the academy.
      I have a big interest in this field.
    </p>
  </div>
</div>