<div id="skill" class="container text-color">
    <h1 class="text-center">Skills summary</h1>
<div>
    <img src="../img/circle-01.jpg" alt="30"> <strong>C# / Java</strong>
</div>

    <ul>
        <li>
            <strong>ASP.NET / MVC</strong> 
        </li>
        <li>
             <img src="../img/circle-01.jpg" alt="30"> <strong>C# / Java</strong>
        </li>
        <li>
            <strong>SQL Server / Data Base / Nodejs</strong> <img src="../img/circle-01.jpg" alt="30">
        </li>
        <li>
            <strong>jQuery / AngularJS / Handlebars / Bootstrap</strong> <img src="../img/circle-01.jpg" alt="30">
        </li>
        <li>
            <strong>HTML / CSS / JavaScript</strong> <img src="../img/circle-01.jpg" alt="30">
        </li>
        <li>
            <strong>XML / JSON</strong> <img src="../img/circle-01.jpg" alt="30">
        </li>
        <li>
            <strong>Photoshop / Unity3D</strong> <img src="../img/circle-01.jpg" alt="30">
        </li>
    </ul>
</div>